{% extends 'base.html' %}

{% block title %}Listado de Roles de Pago{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Listado de Roles de Pago</h1>

    <a href="{% url 'crear_rol_pago' %}" class="btn btn-primary mb-3">Crear Nuevo Rol de Pago</a>


    <form method="get" class="form-inline mb-3">
    <input type="text" name="q" class="form-control mr-2" placeholder="Buscar por nombre, mes o año..." value="{{ query|default:'' }}">
    <button type="submit" class="btn btn-primary">Buscar</button>
    </form>


    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Empleado</th>
                <th>Mes</th>
                <th>Año</th>
                <th>Salario Base</th>
                <th>Total a Pagar</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for rol in roles %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ rol.empleado }}</td>
                <td>{{ rol.mes }}</td>
                <td>{{ rol.anio }}</td>
                <td>{{ rol.salario_base }}</td>
                <td>{{ rol.neto }}</td>

                <td>
                    <a href="{% url 'detalle_rol_pago' rol.id %}" class="btn btn-sm btn-info">Ver</a>
                    <a href="{% url 'actualizar_rol_pago' rol.id %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'confirmar_eliminar_rol_pago' rol.id %}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este rol de pago?');">Eliminar</a>

                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No hay roles de pago registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
